
{
	"env": {
		"es6": true,
		"node": true,
		"jasmine": true
	},
	"rules": {
		"indent": [2, "tab"],
		"quotes": [1, "single"],
		"semi": [1, "never"],
		"valid-jsdoc": 1,
		"no-multi-spaces": 2,
		"no-trailing-spaces": 1,
		"space-before-function-paren": [2, "never"],
		"key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		"arrow-body-style": 2,
		"arrow-spacing": [1, { "before": true, "after": true }],
		"no-var": 2,
		"prefer-const": 2,
		"brace-style": 2
	}
}
