h1 {
	color: red;
}
#addPage {
	background-color: 300;
	border: 1px solid red;
	margin: 2em;
	padding: 1em;
}

#editPage {
	background-color: 003;
	border: 1px solid blue;
	margin: 2em;
	padding: 1em;
}

#editPage input {
	display: block;
}

textarea {
	width: 600px;
	height: 400px;
}

input {
	display: block;
	width: 600px;
	margin-bottom: 1em;
}