<html>
  <head>
    <title>Shared Controllers</title>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/shared.js"></script>
  </head>
  <body>
    <div ng-controller="myController as ctrl01">
      <h1>First Controller</h1>
      <ul>
        <li ng-repeat="item in ctrl01.list">
          <span ng-bind="item.label"></span>
        </li>
      </ul>
      <button ng-click="ctrl01.add()">Add More Items</button>
    </div>
    
    <div ng-controller="myController as ctrl02">
      <h1>First Controller</h1>
      <ul>
        <li ng-repeat="item in ctrl02.list">
          <span ng-bind="item.label"></span>
        </li>
      </ul>
      <button ng-click="ctrl02.add()">Add More Items</button>
    </div>
  </body>
</html>